[Biobank config] 
# Provide comma-separated biobank properties wanted in geoJSON, using geoJSON field names:
biobankProperties = biobankID,biobankName,biobankType,covid19biobank,biobankSize

[Override biobank position]
# Provide biobankName = comma-separated decimal longitude and latitude (i.e. biobankName1 = 14.111,13.12345)

[Skip biobank]
# Provide comma-separated biobankNames that are skipped (not shown).
biobanksNameSkip=