[Biobank config] 
# Provide comma-separated biobank properties wanted in geoJSON, using geoJSON field names:
biobankProperties = biobankID,biobankName,biobankType,covid19biobank,biobankSize

[Override biobank position]
# Provide biobankName = comma-separated decimal longitude and latitude (i.e. biobankName1 = 14.111,13.12345)

[Skip biobank]
# Provide comma-separated biobankNames that are skipped (not shown).
# Temp until coordinates are fixed
biobanksNameSkip = UGMLC Giessen Biobank

[Skip ID]
# Provide comma-separated biobanks ID that are skipped (not shown).
biobanksIDSkip = bbmri-eric:ID:EXT_NASBIO

[Skip country]
# Provide comma-separated countries ID that are skipped (not shown).
biobanksCountrySkip = UK,FR,RU

[Filter dataset exact string]
# NOTE: At the moment this applies for ALL values in [Filter dataset]
# Accepted values:
# Yes
# No
searchExactString = No

[Filter dataset]
# Comma-sepatared WITHOUT spaces!!
# The keys are the fields to look for and the values the wanted values
# Available keys can be found in getBiobanks_keysList_July2022.txt
# Examples:
#name = Graz,AGNES,AMSES,ANSES
#collections>type>label = Rare disease collection
#country-name = Austria
# NOTE: IMPORTANT! At the moment his works like an OR condition. So if name and collections-type-label are provided, biobanks with those names are going to be selected BUT ALSO all biobanks matching the collections-type-label (having or not these biobank names).
# TODO: this is something to change in the future if we notice that this kind of combinations are useful (and I guess so).